.flex-container label:after{
    content:"*";
    color: red;
}
.name-container{
    display: flex;
    flex-direction: row;
}
.checked{
    color: orange;
}
tr,td{
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    text-align: center;
    white-space: nowrap;
}
table{
    border: 1px;
}
tr:nth-child(even){
    background-color: #f1f1f1;
}
textarea{
    width: 1400px;
    height: 120px;
    border: 1px solid #E4E4E4;
}
button{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}
#firstname{
    border: 1px solid #E4E4E4;
}
#lastname{
    border: 1px solid #E4E4E4;
}
#email{
    border: 1px solid #E4E4E4;
}